.progress{
	margin: 0;
}

.page-header{
	margin-top: 0;
}

.arrayStyle:before{
	content: "[";
	color: silver;
}

.arrayStyle:after{
	content: "]";
	color: silver;
}

.arrayStyleItem:before{
	content: '"';
	color: silver;
}

.arrayStyleItem:after{
	content: '", ';
	color: silver;
}

.arrayStyleItem:last-child:after{
	content: '"';
	color: silver;
}

.input-sm{
	margin: -5px;
}

.contact{
	position: fixed;
	right:0;
}

.recommendationDate{
	font-style: italic;
}

.axis path {
    fill: none;
    stroke: #777;
    
}
.axis text {
    font-family: Lato;
    font-size: 13px;
}