doctype html
html(ng-app="resume")
	head
		title Resume
		meta(type="description" content="Resume of Jordan Levet")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(href="/css/bootstrap.css" rel="stylesheet")
		link(href="/css/font-awesome.css" rel="stylesheet")
		link(href="/css/style.css" rel="stylesheet")
		script(src="/js/d3.js")
		script(src="/js/angular.min.js")
		script(src="/js/angular-ui-router.js")
		script(src="/js/angular-ui-bootstrap.js")
		script(src="/js/angular-animate.js")
		script(src="/js/app.js")
		script(src="/js/App/Directives/barChartDirective.js")
		script(src="/js/App/Directives/pieChartDirective.js")
		script(src="/js/App/Directives/lineChartDirective.js")
		script(src="/js/App/Charts/ChartsService.js")
		script(src="/js/App/Charts/ChartsController.js")
		script(src="/js/App/Samples/SamplesController.js")
		script(src="/js/App/Menu/MenuController.js")
		script(src="/js/App/Resume/ResumeController.js")
		script(src="/js/App/Modal/ModalController.js")
		script(src="/js/App/Contact/ContactController.js")

	body
		div(ng-include="'../../partials/menu.html'")
		div(ng-include="'../../partials/contact.html'")
		.container(ui-view="")
