<div class="modal-header">
    <h3 class="modal-title">Contact</h3>
</div>
<div class="modal-body">
    <div ng-show="error" class="alert alert-danger" role="alert">
        <strong>Error! </strong>
        {{errMsg}}
    </div>
    <div ng-show="success" class="alert alert-success" role="alert">
        <strong>Success!</strong>
    </div>
    <div class="row">
        <div class="col-md-6">Email: </div>
        <div class="col-md-6">jordanlevet801@gmail.com</div>
    </div>
    <div class="row">
        <div class="col-md-6">Phone: </div>
        <div class="col-md-6">(801) 618-8350</div>
    </div>
</div>
<div class="modal-body">
    <div class="form-group">
        <input type="tel" class="form-control" placeholder="Phone" ng-model="phone">
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Email" ng-model="email">
    </div>
    <div class="form-group">
        <textarea class="form-control" placeholder="Message" ng-model="message"></textarea>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="save()">Save</button>
    <button class="btn btn-danger" type="button" ng-click="close()">Close</button>
</div>